*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:rgb(99, 98, 98);
}

nav button {

    padding:10px 20px;
    background-color: rgb(78, 59, 247);
    border-radius: 6px;
    color: aliceblue;
    border: none;
    outline: none;
}
